{% extends "base_infra.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <!-- Header section End -->
    <!-- main section End -->
        <div class="inspection" style="background-image: url('static/img/general-rehab.png')">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <!-- <div class="line"></div> -->
                        <h1><span>Topografía Y </span><span style="color: #a5cd39;">Catastro</span></h1>
                        <!-- <p>Especializados en la detección de fugas en redes subterráneas, utilizamos tecnologías avanzadas y contamos con un equipo consultor con más de 2 décadas de experiencia </p> -->
                        <p></p>
                        <a href="#see_more1" class="btn-quienes">VER MÁS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-line">
            <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
        </div>
    <!-- main section End -->



<div class="main-banner-infra">
  
  <section id="see_more1"></section>
    <div class="row justy-content">
      <div class="col-md-6 solid-color">
        <img
          src="{{ url_for('static', filename='img/catastro/catastro7.jpg') }}"
          class="responsive-image"
        />
      </div>
      <div class="col-md-6 pt-8 solid-text info-box">
        <h2 class="txt-left txt-bold txt-title">
            Soluciones Topográficas y Catastrales
        </h2>
        <h2 class="txt-left txt-title">
            con Tecnología de Vanguardia
        </h2>
        <p class="txt-left txt-box">
            Desarrollamos proyectos topográficos y de catastro con personal especializado 
            y certificado usando tecnología de punta que nos permite escanear la tierra 
            desde el aíre, en superficie y de manera subterránea.
        </p>
        <h3 class="txt-left txt-bold">
          <a href="#see_more2" class="btn-small"
            >VER MÁS</a
          >
        </h3>
      </div>
    </div>
    
  </div>
    
  <div class="border-line">
    <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
</div>
    
    
  <section id="see_more2"></section>
    <!-- nuevo carrusel -->
    <div class="carousel-new">
        <img src="{{ url_for('static', filename='img/catastro/catastro2.jpg') }}" alt="Imagen 1" class="active">
        <img src="{{ url_for('static', filename='img/catastro/catastro3.jpg') }}" alt="Imagen 2">
        <img src="{{ url_for('static', filename='img/catastro/catastro1.jpg') }}" alt="Imagen 3">
        <img src="{{ url_for('static', filename='img/catastro/catastro4.jpg') }}" alt="Imagen 4">
        <img src="{{ url_for('static', filename='img/catastro/catastro5.jpg') }}" alt="Imagen 5">
        <div class="dots">
            <span class="active" onclick="currentSlide(1)"></span>
            <span onclick="currentSlide(2)"></span>
            <span onclick="currentSlide(3)"></span>
            <span onclick="currentSlide(4)"></span>
            <span onclick="currentSlide(5)"></span>
        </div>
    </div>
    <!-- fin de carrusel -->


    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    <!-- inspection sec section End -->
    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const radioButtons = document.querySelectorAll('.carousel input[type="radio"]');
            const labels = document.querySelectorAll('.carousel__thumbnails label');

            labels.forEach(label => {
                label.addEventListener('click', function(event) {
                    event.preventDefault(); // Evitar el comportamiento predeterminado
                    const radio = document.getElementById(this.getAttribute('for'));
                    radio.checked = true; // Cambiar el estado del radio button
                });
            });
        });
    </script>

{% endblock %}
