{% extends "base_infra.html" %}

{% block title %}Consultoría en Diseño{% endblock %}

{% block content %}
    <!-- Header section End -->
    <!-- main section End -->
        <div class="inspection" style="background-image: url('static/img/general-diseno3.png')">
            <div class="container">
                <div class="row">
                    <div class="col-md-7" style="padding-left: 10%;">
                        <div class="line"></div>
                        <h1><span>CONSULTORÍA EN </span><span style="color: #a5cd39;">DISEÑO</span></h1>
                        <p>Un Enfoque Integral para la Seguridad y Eficacia</p>
                        <a href="#see_more1" class="btn-quienes">VER MÁS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-line">
            <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
        </div>
    <!-- main section End -->
    
    
<section id="see_more1"></section>
<div class="main-banner-infra">
    <div class="row justy-content">
      <div class="col-md-6 solid-color">
        <img
          src="{{ url_for('static', filename='img/diseno/diseno2.jpg') }}"
          class="responsive-image"
        />
      </div>
      <div class="col-md-6 pt-8 solid-text info-box">
        <h2 class="txt-left txt-bold txt-title">
            Valoración, Análisis De Riesgo Y Diseño
        </h2>
        <h2 class="txt-left txt-title">
            De Planes De Gestión
        </h2>
        <p class="txt-left txt-box">
            Los activos subterráneos son esenciales, pero a menudo descuidados, 
            expuestos a riesgos constantes debido a su ubicación oculta. En Pacific, 
            comprendemos la importancia de evaluar y gestionar adecuadamente estos activos. 
            Comprendemos la importancia de plantear soluciones y diseños para renovar, expandir 
            y rehabilitar las los sistemas de acueducto y alcantarillado. Contamos con un 
            experimentado equipo de consultoría y diseño que estudia cada situación y plantea 
            adecuada y minuciosamente cada posible solución teniendo como base el menor impacto 
            social, comercial y ambiental.
        </p>
        <h3 class="txt-left txt-bold">
          <a href="#see_more2" class="btn-small"
            >VER MÁS</a
          >
        </h3>
      </div>
    </div>
    
    
    <div class="row justy-content">
      <section id="see_more2"></section>
      <div class="col-md-6 pt-8 solid-text info-box">
        <h2 class="txt-left txt-bold txt-title">
            Experiencia Y Tecnología 
        </h2>
        <h2 class="txt-left txt-title">
            Para Decisiones Importantes
        </h2>
        <h4 class="txt-left txt-box">
            Nuestro equipo multidisciplinario, respaldado por décadas 
            de experiencia, se enfoca en el análisis y valoración de 
            redes de acueducto y alcantarillado. Utilizando tecnología de 
            vanguardia y modelos de gestión robustos, ofrecemos recomendaciones 
            fundamentadas para la toma de decisiones. Desde la evaluación 
            de opciones de rehabilitación hasta la priorización de actividades, 
            nuestro objetivo es garantizar una gestión eficiente de activos 
            subterráneos, maximizando su vida útil y optimizando recursos 
            financieros y no financieros.
        </h4>
        <h3 class="txt-left txt-bold txt-title">
          <a href="#see_more3" class="btn-small"
            >VER MÁS</a
          >
        </h3>
      </div>
      <div class="col-md-6 solid-color">
        <img
          src="{{ url_for('static', filename='img/diseno/diseno3.jpg') }}"
          class="responsive-image"
        />
      </div>
    </div>
  </div>
  
  <!-- banner-slider section -->
  <div class="border-line">
    <img
      src="{{ url_for('static', filename='img/border.png') }}"
      alt=""
      class="w-100"
    />
  </div>
    
    
<section id="see_more3"></section>
    <!-- nuevo carrusel -->
    <div class="carousel-new">
        <img src="{{ url_for('static', filename='img/diseno/diseno1.jpg') }}" alt="Imagen 1" class="active">
        <img src="{{ url_for('static', filename='img/diseno/diseno3.jpg') }}" alt="Imagen 2">
        <img src="{{ url_for('static', filename='img/diseno/diseno4.jpg') }}" alt="Imagen 3">
        <img src="{{ url_for('static', filename='img/diseno/diseno5.jpg') }}" alt="Imagen 4">
        <img src="{{ url_for('static', filename='img/diseno/diseno8.jpg') }}" alt="Imagen 5">
        <div class="dots">
            <span class="active" onclick="currentSlide(1)"></span>
            <span onclick="currentSlide(2)"></span>
            <span onclick="currentSlide(3)"></span>
            <span onclick="currentSlide(4)"></span>
            <span onclick="currentSlide(5)"></span>
        </div>
    </div>
    <!-- fin de carrusel -->


    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const radioButtons = document.querySelectorAll('.carousel input[type="radio"]');
            const labels = document.querySelectorAll('.carousel__thumbnails label');

            labels.forEach(label => {
                label.addEventListener('click', function(event) {
                    event.preventDefault(); // Evitar el comportamiento predeterminado
                    const radio = document.getElementById(this.getAttribute('for'));
                    radio.checked = true; // Cambiar el estado del radio button
                });
            });
        });
    </script>
{% endblock %}
