{% extends "base_infra.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <!-- Header section End -->
    <!-- main section End -->
        <div class="inspection">
            <div class="container">
                <div class="row">
                    <div class="col-md-7" >
                        <div class="line"></div>
                        <h1><span>INSPECCIÓN Y DIAGNÓSTICO </span><span style="color: #a5cd39;">EN ACUEDUCTO Y ALCANTRILLADO</span></h1>
                        <p>En Pacific, nos especializamos en la inspección y diagnóstico estructural de redes de acueducto y alcantarillado, utilizando tecnología de punta y un equipo consultor con más de 20 años de experiencia.</p>
                        <a href="#see_more" class="btn-quienes">VER MÁS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-line">
            <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
        </div>
    <!-- main section End -->
    <!-- inspection sec Start -->
    <div class="inspection-sec" id="see_more">
        <div class="row">
            <div class="col-md-5">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/insp-bg4.png') }}" alt="">
                </div>
            </div>
            <div class="col-md-7" id="info_text2">
                    <h2>Identificación Temprana de Problemas: Proteja sus Activos Subterráneos</h2>
                    <p>Nos dedicamos a analizar las condiciones de las redes, identificar sus mayores falencias y detectar problemas de manera temprana. Esto nos permite prevenir accidentes, garantizar la eficiencia del sistema y desarrollar proyectos que ofrecen grandes mejoras y ahorros en la gestión, inversión y cumplimiento para ciudades y municipios.</p>
                    <p>Contamos con un equipo de ingenieros, operadores, analistas y consultores certificados en el Programa de Certificación para la Evaluación de Tuberías (PACP). Utilizando tecnologías avanzadas como CCTV, escaneo óptico y perfiladores láser, nos dedicamos a inspeccionar, analizar, diagnosticar y valorar tuberías de alcantarillado. Esto nos permite crear modelos de gestión y de riesgo que aseguran una toma de decisiones adecuada sobre la asignación de presupuestos, priorización y manejo de activos subterráneos.</p>
            </div>
        </div>
    </div>
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    <!-- image carrusel -->
    
    <section>
        <div class="container">
            <div class="carousel">
                <input type="radio" name="slides" checked="checked" id="slide-1">
                <input type="radio" name="slides" id="slide-2">
                <input type="radio" name="slides" id="slide-3">
                <input type="radio" name="slides" id="slide-4">
                <input type="radio" name="slides" id="slide-5">
                <input type="radio" name="slides" id="slide-6">
                <ul class="carousel__slides">
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="{{ url_for('static', filename='img/inspeccion/insp1.jpeg') }}" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Tim Marshall</span>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="{{ url_for('static', filename='img/inspeccion/insp2.jpg') }}" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Christian Joudrey</span>                            
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="{{ url_for('static', filename='img/inspeccion/insp3.jpg') }}" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Steve Carter</span>                            
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="{{ url_for('static', filename='img/inspeccion/insp4.jpg') }}" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Aleksandra Boguslawska</span>                            
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="{{ url_for('static', filename='img/inspeccion/insp5.jpeg') }}" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Rosan Harmens</span>                            
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="{{ url_for('static', filename='img/inspeccion/insp6.jpeg') }}" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Annie Spratt</span>                            
                            </figcaption>
                        </figure>
                    </li>
                </ul>    
                <ul class="carousel__thumbnails">
                    <li>
                        <label for="slide-1"><img src="{{ url_for('static', filename='img/inspeccion/insp1.jpeg') }}" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-2"><img src="{{ url_for('static', filename='img/inspeccion/insp2.jpg') }}" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-3"><img src="{{ url_for('static', filename='img/inspeccion/insp3.jpg') }}" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-4"><img src="{{ url_for('static', filename='img/inspeccion/insp4.jpg') }}" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-5"><img src="{{ url_for('static', filename='img/inspeccion/insp5.jpeg') }}" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-6"><img src="{{ url_for('static', filename='img/inspeccion/insp6.jpeg') }}" alt=""></label>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    <!-- inspection sec section End -->
    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const radioButtons = document.querySelectorAll('.carousel input[type="radio"]');
            const labels = document.querySelectorAll('.carousel__thumbnails label');

            labels.forEach(label => {
                label.addEventListener('click', function(event) {
                    event.preventDefault(); // Evitar el comportamiento predeterminado
                    const radio = document.getElementById(this.getAttribute('for'));
                    radio.checked = true; // Cambiar el estado del radio button
                });
            });
        });
    </script>
{% endblock %}
