{% extends "base_infra.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <!-- Header section End -->
    <!-- main section End -->
        <div class="inspection">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="line"></div>
                        <h1><span>LIMPIEZA DE </span><span style="color: #a5cd39;">REDES DE ALCANTARILLADO</span></h1>
                        <p>En PACIFIC, nos dedicamos a la limpieza e inspección de redes subterráneas, utilizando tecnología avanzada y un equipo altamente calificado. Con más de 15 años de experiencia, ofrecemos servicios especializados para redes de alcantarillado, conexiones domiciliarias y redes internas en diversos sectores económicos, incluyendo redes públicas, industriales, comerciales y residenciales.</p>
                        <a href="#see_more" class="btn-quienes">VER MÁS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-line">
            <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
        </div>
    <!-- main section End -->
    <!-- inspection sec Start -->
    <div class="inspection-sec" id="see_more">
        <div class="row">
            <div class="col-md-5">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/limpieza-bg1.png') }}" alt="">
                </div>
            </div>
            <div class="col-md-7" id="info_text2">
                    <h2>Liderando el Mantenimiento de Redes Subterráneas en Colombia</h2>
                    <p>Nuestros servicios incluyen la limpieza y mantenimiento de redes, así como la inspección y diagnóstico mediante cámaras CCTV. Realizamos la limpieza de pozos sépticos, trampas de grasa y canales, adaptándonos a las necesidades específicas de cada proyecto. Nuestro portafolio incluye equipos de última tecnología como:</p>
                    <ul>
                        <li>Equipos combinados de presión-succión MARCA CAMEL</li>
                        <li>Cámaras de inspección CCTV</li>
                        <li>Lavado a presión con Jetter</li>
                        <li>Máquinas destaponadoras eléctricas</li>
                    </ul>
                    <p>Atendemos redes desde 2” en adelante, asegurando una limpieza eficiente y exhaustiva. Utilizamos cámaras CCTV para inspeccionar y diagnosticar el estado de las redes de alcantarillado, permitiendo una evaluación precisa de su condición y la identificación de problemas antes de que se conviertan en mayores inconvenientes.</p>
                    <p>Ofrecemos nuestros servicios tanto al sector público como al privado, incluyendo el mantenimiento y la inspección con CCTV en diferentes municipios de Colombia, así como en industrias, comercios, construcciones y entidades de salud. Con nuestro enfoque integral y tecnología de punta, garantizamos la eficiencia y seguridad de las redes subterráneas, ayudando a prevenir problemas y optimizar el funcionamiento de los sistemas de alcantarillado.</p>
            </div>
        </div>
    </div>
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    <!-- image carrusel -->
    
    <section>
        <div class="container">
            <div class="carousel">
                <input type="radio" name="slides" checked="checked" id="slide-1">
                <input type="radio" name="slides" id="slide-2">
                <input type="radio" name="slides" id="slide-3">
                <input type="radio" name="slides" id="slide-4">
                <input type="radio" name="slides" id="slide-5">
                <input type="radio" name="slides" id="slide-6">
                <ul class="carousel__slides">
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://picsum.photos/id/1041/800/450" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Tim Marshall</span>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://picsum.photos/id/1043/800/450" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Christian Joudrey</span>                            
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://picsum.photos/id/1044/800/450" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Steve Carter</span>                            
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://picsum.photos/id/1045/800/450" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Aleksandra Boguslawska</span>                            
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://picsum.photos/id/1049/800/450" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Rosan Harmens</span>                            
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://picsum.photos/id/1052/800/450" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Annie Spratt</span>                            
                            </figcaption>
                        </figure>
                    </li>
                </ul>    
                <ul class="carousel__thumbnails">
                    <li>
                        <label for="slide-1"><img src="https://picsum.photos/id/1041/150/150" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-2"><img src="https://picsum.photos/id/1043/150/150" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-3"><img src="https://picsum.photos/id/1044/150/150" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-4"><img src="https://picsum.photos/id/1045/150/150" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-5"><img src="https://picsum.photos/id/1049/150/150" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-6"><img src="https://picsum.photos/id/1052/150/150" alt=""></label>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    <!-- inspection sec section End -->
    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const radioButtons = document.querySelectorAll('.carousel input[type="radio"]');
            const labels = document.querySelectorAll('.carousel__thumbnails label');

            labels.forEach(label => {
                label.addEventListener('click', function(event) {
                    event.preventDefault(); // Evitar el comportamiento predeterminado
                    const radio = document.getElementById(this.getAttribute('for'));
                    radio.checked = true; // Cambiar el estado del radio button
                });
            });
        });
    </script>

{% endblock %}
