{% extends "base_infra.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <!-- Header section End -->
    <!-- main section End -->
        <div class="inspection" style="background-image: url('static/img/general-limpiezaredes4.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-md-7" style="padding-left: 10%;" id="limpieza-banner-text">
                        <div class="line" style="background: #2e3094;"></div>
                        <h1><span style="color: #ffffff;">LIMPIEZA DE TUBERÍAS </span><span style="color: #ffffff;">MUNICIPALES, INDUSTRIALES Y COMERCIALES</span></h1>
                        <!-- <p style="color: #000;">En PACIFIC, nos dedicamos a la limpieza e inspección de redes subterráneas, utilizando tecnología avanzada y un equipo altamente calificado. Con más de 15 años de experiencia, ofrecemos servicios especializados para redes de alcantarillado, conexiones domiciliarias y redes internas en diversos sectores económicos, incluyendo redes públicas, industriales, comerciales y residenciales.</p> -->
                        <p></p>
                        <a href="#see_more1" class="btn-azul" style="color: #ffffff; border-color: #ffffff;">VER MÁS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-line">
            <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
        </div>

        <section id="see_more1"></section>
<div class="main-banner-infra">
    <div class="row justy-content">
      <div class="col-md-6 solid-color">
        <img
          src="{{ url_for('static', filename='img/limpieza/limpieza6.jpg') }}"
          class="responsive-image"
        />
      </div>
      <div class="col-md-6 pt-8 solid-text info-box">
        <h2 class="txt-left txt-bold txt-title">
            Liderando el Mantenimiento de 
        </h2>
        <h2 class="txt-left txt-title">
            Redes Subterráneas en Latinoamérica
        </h2>
        <p class="txt-left txt-box">
            Realizamos la limpieza de redes,  de pozos sépticos, trampas de grasa, 
            canales y tuberías industriales, adaptándonos a las necesidades específicas 
            de cada proyecto. Nuestro portafolio incluye equipos de última tecnología como:
        </p>

        <ul class="txt-left txt-box">
            <li>Equipos combinados de presión-succión MARCA CAMEL</li>
            <li>Equipos de limpieza Mecánica como varilladoras o rotasondas</li>
            <li>Equipos de Lavado a Presión</li>
            <li>Cabrestantes</li>
            <li>Limpieza Manual de grandes colectores con personal altamente calificado</li>
        </ul>
  

      </div>
    </div>
    <div class="row justy-content">
      <div class="col-md-6 pt-8 solid-text info-box">
        
        <p class="txt-left txt-box">
            Atendemos redes desde 2” en adelante, asegurando una limpieza eficiente y 
            de gran detalle. Utilizamos equipos robotizados CCTV para inspeccionar y 
            diagnosticar el estado de las redes de alcantarillado, permitiendo una evaluación 
            precisa de su condición e identificación preventiva de problemas.
        </p>
        
        <p class="txt-left txt-box">
            Ofrecemos nuestros servicios tanto al sector público como al privado, incluyendo 
            el mantenimiento y la inspección/diagnostico en diferentes municipios de Colombia, 
            así como en industrias, comercios, construcciones y entidades de salud. Con nuestro 
            enfoque integral y tecnología de punta, garantizamos la eficiencia y seguridad de las 
            redes subterráneas, ayudando a prevenir problemas y optimizar el funcionamiento de los 
            sistemas de alcantarillado.
        </p>  
        
        <h3 class="txt-left txt-bold">
          <a href="#see_more2" class="btn-small"
            >VER MÁS</a
          >
        </h3>
      </div>
      <div class="col-md-6 solid-color">
        <img
          src="{{ url_for('static', filename='img/limpieza/limpieza8.jpg') }}"
          class="responsive-image"
        />
      </div>
    </div>
  </div>
  
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>


    <!-- nuevo carrusel -->
        <section id="see_more2"></section>
    <div class="carousel-new">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza1.jpg') }}" alt="Imagen 1" class="active">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza2.jpg') }}" alt="Imagen 2">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza3.jpg') }}" alt="Imagen 3">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza4.jpg') }}" alt="Imagen 4">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza5.jpg') }}" alt="Imagen 5">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza6.jpg') }}" alt="Imagen 6">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza7.jpg') }}" alt="Imagen 7">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza8.jpg') }}" alt="Imagen 8">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza9.jpg') }}" alt="Imagen 9">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza10.jpg') }}" alt="Imagen 10">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza11.jpg') }}" alt="Imagen 11">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza12.jpg') }}" alt="Imagen 12">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza13.jpg') }}" alt="Imagen 13">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza14.jpg') }}" alt="Imagen 14">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza15.jpg') }}" alt="Imagen 15">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza16.jpg') }}" alt="Imagen 16">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza17.jpg') }}" alt="Imagen 17">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza18.jpg') }}" alt="Imagen 18">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza19.jpg') }}" alt="Imagen 19">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza20.jpg') }}" alt="Imagen 21">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza21.jpg') }}" alt="Imagen 21">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza22.jpg') }}" alt="Imagen 22">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza23.jpg') }}" alt="Imagen 23">
        <div class="dots">
            <span class="active" onclick="currentSlide(1)"></span>
            <span onclick="currentSlide(2)"></span>
            <span onclick="currentSlide(3)"></span>
            <span onclick="currentSlide(4)"></span>
            <span onclick="currentSlide(5)"></span>
            <span onclick="currentSlide(6)"></span>
            <span onclick="currentSlide(7)"></span>
            <span onclick="currentSlide(8)"></span>
            <span onclick="currentSlide(9)"></span>
            <span onclick="currentSlide(10)"></span>
            <span onclick="currentSlide(11)"></span>
            <span onclick="currentSlide(12)"></span>
            <span onclick="currentSlide(13)"></span>
            <span onclick="currentSlide(14)"></span>
            <span onclick="currentSlide(15)"></span>
            <span onclick="currentSlide(16)"></span>
            <span onclick="currentSlide(17)"></span>
            <span onclick="currentSlide(18)"></span>
            <span onclick="currentSlide(19)"></span>
            <span onclick="currentSlide(20)"></span>
            <span onclick="currentSlide(21)"></span>
            <span onclick="currentSlide(22)"></span>
            <span onclick="currentSlide(23)"></span>
        </div>
    </div>
    <!-- fin de carrusel -->

    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    <!-- inspection sec section End -->
    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const radioButtons = document.querySelectorAll('.carousel input[type="radio"]');
            const labels = document.querySelectorAll('.carousel__thumbnails label');

            labels.forEach(label => {
                label.addEventListener('click', function(event) {
                    event.preventDefault(); // Evitar el comportamiento predeterminado
                    const radio = document.getElementById(this.getAttribute('for'));
                    radio.checked = true; // Cambiar el estado del radio button
                });
            });
        });
    </script>

{% endblock %}
