{% extends "base_infra.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <!-- Header section End -->
    <!-- main section End -->
        <div class="inspection" style="background-image: url('static/img/general-rehab.png')">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="line"></div>
                        <h1><span>REHABILITACIÓN DE </span><span style="color: #a5cd39;">REDES</span></h1>
                        <p>En Pacific Group, nos dedicamos a la preservación y mantenimiento de activos subterráneos vitales para el desarrollo urbano, tales como redes de acueducto, alcantarillado, gas y telefonía. Nuestro enfoque en la vanguardia tecnológica y la colaboración con socios internacionales nos permite ofrecer soluciones de rehabilitación de redes que son eficientes y duraderas.</p>
                        <a href="#see_more" class="btn-quienes">VER MÁS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-line">
            <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
        </div>
    <!-- main section End -->
    <!-- inspection sec Start -->
    <div class="inspection-sec" id="see_more" style="background-image: url('static/img/fondo-infra-bo.png')">
        <div class="row" id="info_text_new">
            <!-- <div class="col-md-5">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/rehab-bg1.png') }}" alt="">
                </div>
            </div> -->
            <div class="col-md-7" id="info_text2">
                    <h2>Soluciones en Rehabilitación de Redes</h2>
                    <p>Somos especialistas en servicios avanzados de rehabilitación integral y puntual de redes principales, domiciliarias y específicas, utilizando tecnologías No-Dig que minimizan las interrupciones en el servicio. Estas soluciones incluyen la inspección, análisis y diagnóstico de tuberías sin suspender su operación, garantizando una gestión óptima de los activos subterráneos. Empleamos tecnologías acústicas, visuales y ultrasónicas para identificar problemas dentro de las redes, permitiendo así una intervención precisa y efectiva.</p>
                    <h2>Rehabilitación y Reconexión de Acometidas Domiciliarias</h2>
                    <p>Ofrecemos soluciones de reconexión de acometidas domiciliarias con la línea principal mediante el uso de tecnología y diseños patentados que garantizan un sellado perfecto, reduciendo infiltraciones de aguas externas al sistema de transporte de agua residual y de lluvia. Esta metodología no solo mejora la eficiencia del sistema, sino que también prolonga la vida útil de las instalaciones rehabilitadas.</p>
            </div>
        </div>
    </div>
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    
    
    <!-- nuevo carrusel -->
    <div class="carousel-new">
        <img src="{{ url_for('static', filename='img/reredes/rehab6.jpg') }}" alt="Imagen 1" class="active">
        <img src="{{ url_for('static', filename='img/reredes/rehab2.jpg') }}" alt="Imagen 2">
        <img src="{{ url_for('static', filename='img/reredes/rehab4.jpg') }}" alt="Imagen 3">
        <img src="{{ url_for('static', filename='img/reredes/rehab3.jpg') }}" alt="Imagen 4">
        <img src="{{ url_for('static', filename='img/reredes/rehab5.jpg') }}" alt="Imagen 5">
        <img src="{{ url_for('static', filename='img/reredes/rehab1.jpg') }}" alt="Imagen 6">
        <div class="dots">
            <span class="active" onclick="currentSlide(1)"></span>
            <span onclick="currentSlide(2)"></span>
            <span onclick="currentSlide(3)"></span>
            <span onclick="currentSlide(4)"></span>
            <span onclick="currentSlide(5)"></span>
            <span onclick="currentSlide(6)"></span>
        </div>
    </div>
    <!-- fin de carrusel -->

    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    <!-- inspection sec Start -->
    <div class="inspection-sec" id="see_more" style="background-image: url('static/img/fondo-infra-bo.png')">
        <div class="row" id="info_text_new">
            <!-- <div class="col-md-5">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/trakamama.png') }}" alt="">
                </div>
            </div> -->
            <div class="col-md-7" id="info_text2">
                    <h2>Consultoría y Modelo de Gestión</h2>
                    <p>Nuestro equipo de consultores está dedicado a la elaboración de estrategias y planes de gestión para la administración de activos subterráneos en ciudades y municipios. Estas estrategias han demostrado ser efectivas para incrementar la productividad y el uso adecuado de los recursos financieros y no financieros. A través de la implementación de estos planes, hemos logrado optimizar la rehabilitación y reposición de redes de acueducto y alcantarillado, asegurando una destinación óptima de los recursos disponibles.</p>
                    <p>En Pacific Group, nos comprometemos a ofrecer servicios de rehabilitación de redes de la más alta calidad, respaldados por nuestra experiencia y el uso de tecnología de vanguardia. Nuestro objetivo es garantizar la integridad y funcionalidad de las infraestructuras subterráneas esenciales para el desarrollo urbano sostenible.</p>
            </div>
        </div>
    </div>

    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>

    <div class="new-image-container3">
        <img src="{{ url_for('static', filename='img/reredes/rehab7.jpg') }}" alt="Imagen 1" class="active">
        <img src="{{ url_for('static', filename='img/reredes/rehab8.jpg') }}" alt="Imagen 2" class="active">
    </div>
    
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    <!-- inspection sec section End -->
    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const radioButtons = document.querySelectorAll('.carousel input[type="radio"]');
            const labels = document.querySelectorAll('.carousel__thumbnails label');

            labels.forEach(label => {
                label.addEventListener('click', function(event) {
                    event.preventDefault(); // Evitar el comportamiento predeterminado
                    const radio = document.getElementById(this.getAttribute('for'));
                    radio.checked = true; // Cambiar el estado del radio button
                });
            });
        });
    </script>
{% endblock %}
