{% extends "base_infra.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <!-- Header section End -->
    <!-- main section End -->
        <div class="inspection">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="line"></div>
                        <h1><span>EQUIPOS MARCA </span><span style="color: #a5cd39;">GENERAL PIPE CLEANERS</span></h1>
                        <p>En Pacific comercializamos equipos tanto para auto-uso,  servicio a domicilio y detección de fugas simples hasta para redes matrices y de distribución en funcionamiento.</p>
                        <a href="#see_more" class="btn-quienes">VER MÁS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-line">
            <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
        </div>
    <!-- main section End -->
    
    
<!-- inspection sec Start -->
    <div class="inspection-sec" id="see_more2" style="background-image: url('static/img/fondo-infra-bo.png')">
        <div class="row" id="info_text_new">
            <!-- <div class="col-md-5">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/trakamama.png') }}" alt="">
                </div>
            </div> -->
            <div class="col-md-7" id="info_text2">
                    <h2>Detección de Fugas de Agua Complejas</h2>
                    <p>Para la detección de fugas de agua complejas bien en redes de acueducto matrices superiores a 12” o de distribución entre 4” y 12” de diámetro en funcionamiento,  ya se hace a través de equipos más sofisticados mediante el uso de alta tecnología acústica y visual . Esta tecnología permite:</p>
                    <p>El sensor de tierra escucha el burbujeo o martilleo del agua que se escapa de las tuberías agrietadas debajo del hormigón, el asfalto o las losas. Para las superficies blandas como hierba o alfombrados, utilice las varillas de sondeo.</p>
                    <li>Análisis de condiciones</li>
                    <li>Identificación de fugas</li>
                    <li>inspección CCTV</li>
                    <li>Revisión / verificación de reparaciones</li>
                    <li>Localización de activos (válvulas, ventosas)</li>
                    <li>calificación de condiciones de la tubería</li>
                    <li>análisis de calidad de agua</li>
                    <li>Verificación de Post-proceso de rehabilitación</li>
                    <li>Investigaciones de bloqueos y causas de reducción en presión</li>
                    <li>Posibilidad de mapeo</li>    
            </div>
        </div>
    </div>
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
<!-- inspection sec section End -->
    <!-- inspection sec Start -->
    <div class="inspection-sec" id="see_more" style="background-image: url('static/img/fondo-infra-bo.png')">
        <div class="row" id="info_text_new">
            <!-- <div class="col-md-5">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/trakamama.png') }}" alt="">
                </div>
            </div> -->
            <div class="col-md-7" id="info_text2">
                    <h2>Detección de Fugas Simples</h2>
                    <p>Equipos americanos GENERAL, modelo Gen Ear LE, de una gran tradición y existencia por más de 70 años.  Es una versión simplificada y más económica con mayor amplificación sonora que otros sistemas. Ayuda a identificar sus fugas en cañerías residenciales y comerciales sin importar que estén bajo losas de hormigón, en muros, piscinas, jacuzzis etc.</p>
                    <h2>Tecnologías de Inspección Para Acueducto</h2>
                    <p>Las tecnologías usadas por estos productos para la inspeccion de acueductos es:</p>
                    <li>Detección de fugas en lineas de distribución</li>
                    <li>Detección de fugas en lineas troncales y matrices</li>
                    <li>sistemas de análisis estructural para lineas de acueducto</li>
            </div>
        </div>
    </div>
    <!-- inspection sec section End -->
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    <!-- inspection sec section End -->
    
    <!-- image carrusel -->
    
    <section>
        <div class="container">
            <div class="carousel">
                <input type="radio" name="slides" checked="checked" id="slide-1">
                <input type="radio" name="slides" id="slide-2">
                <input type="radio" name="slides" id="slide-3">
                <input type="radio" name="slides" id="slide-4">
                <input type="radio" name="slides" id="slide-5">
                <input type="radio" name="slides" id="slide-6">
                <ul class="carousel__slides">
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://picsum.photos/id/1041/800/450" alt="">
                            </div>
                            <!-- <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Tim Marshall</span>
                            </figcaption> -->
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://picsum.photos/id/1043/800/450" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Christian Joudrey</span>                            
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://picsum.photos/id/1044/800/450" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Steve Carter</span>                            
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://picsum.photos/id/1045/800/450" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Aleksandra Boguslawska</span>                            
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://picsum.photos/id/1049/800/450" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Rosan Harmens</span>                            
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="https://picsum.photos/id/1052/800/450" alt="">
                            </div>
                            <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Annie Spratt</span>                            
                            </figcaption>
                        </figure>
                    </li>
                </ul>    
                <ul class="carousel__thumbnails">
                    <li>
                        <label for="slide-1"><img src="https://picsum.photos/id/1041/150/150" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-2"><img src="https://picsum.photos/id/1043/150/150" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-3"><img src="https://picsum.photos/id/1044/150/150" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-4"><img src="https://picsum.photos/id/1045/150/150" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-5"><img src="https://picsum.photos/id/1049/150/150" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-6"><img src="https://picsum.photos/id/1052/150/150" alt=""></label>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
