{% extends "base_infra.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <!-- Header section End -->
    <!-- main section End -->
        <div class="inspection" style="background-image: url('static/img/general-qv360.png')">
            <div class="container">
                <div class="row">
                    <div class="col-md-7" style="padding-left: 10%;">
                        <div class="line"></div>
                        <h1><span>EQUIPO DE INSPECCIÓN</span><span style="color: #a5cd39;"> QUICKVIEW 360</span></h1>
                        <p>Cámara Automatizada de Inspección de Alcantarillas</p>
                        <a href="#see_more" class="btn-quienes">VER MÁS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-line">
            <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
        </div>
    <!-- main section End -->
    <!-- inspection sec Start -->
    <div class="inspection-sec" id="see_more" style="background-image: url('static/img/fondo-infra-bo.png')">
        <!-- <div class="row" id="info_text_new"> -->
        <div class="row">
            <!-- <div class="col-md-5">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/trakamama.png') }}" alt="">
                </div>
            </div> -->
            <div class="col-md-7" id="info_text2">
                    <h2>Visualización Rápida de Datos</h2>
                    <p>Quickview 360 combina la maniobrabilidad de una cámara de poste con tecnología en la nube para ofrecer resultados codificados por IA y modelos 3D en solo 5 minutos. Permite realizar inspecciones de alcantarillas cada 5 minutos, minimiza el tiempo de procesamiento, envía resultados directamente a la nube mediante la app WinCan Mobile, crea modelos 3D de infraestructuras, exporta datos a CAD y genera entregables automáticamente. Conectado a la app Sewerlink, envía resultados a la nube, donde la IA ayuda a codificar y crear visualizaciones 3D detalladas, permitiendo un análisis profundo, exportación a CAD e impresión de informes esenciales.</p>
                    <h2>Automatización Eficiente</h2>
                    <p>Diseñado para ser manejado por una sola persona, Quickview 360 ofrece controles táctiles en aplicaciones que permiten ver video en vivo con panorámica y tilt virtuales. Conéctate con dispositivos iOS, Android o Windows para ajustar la luz y el texto superpuesto, o envía resultados a la nube.</p>
                    <h2>Movilidad Mejorada</h2>
                    <p>Quickview 360 ofrece imágenes en alta definición con lámparas LED para una iluminación lateral brillante, cámaras HD gemelas con video de 360 grados y un telémetro para mediciones estables. Su poste telescópico alcanza hasta 30 pies, y la unidad compacta cabe en una camioneta. Los controles y el video son sin cables, y la batería recargable permite hasta 80 inspecciones diarias.</p>
                </div>
        </div>
    </div>
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    <!-- inspection sec section End -->
    

     <!-- nuevo carrusel -->
     <div class="carousel-new">
        <img src="{{ url_for('static', filename='img/qv360/qv3601.png') }}" alt="Imagen 1" class="active">
        <img src="{{ url_for('static', filename='img/qv360/qv3602.png') }}" alt="Imagen 2">
        <img src="{{ url_for('static', filename='img/qv360/qv3603.png') }}" alt="Imagen 3">
        <img src="{{ url_for('static', filename='img/qv360/qv3604.png') }}" alt="Imagen 4">
        <img src="{{ url_for('static', filename='img/qv360/qv3605.png') }}" alt="Imagen 5">
        <img src="{{ url_for('static', filename='img/qv360/qv3606.png') }}" alt="Imagen 6">
        <div class="dots">
            <span class="active" onclick="currentSlide(1)"></span>
            <span onclick="currentSlide(2)"></span>
            <span onclick="currentSlide(3)"></span>
            <span onclick="currentSlide(4)"></span>
            <span onclick="currentSlide(5)"></span>
            <span onclick="currentSlide(6)"></span>
        </div>
    </div>
    <!-- fin de carrusel -->
    
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
