{% extends "base_infra.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <!-- Header section End -->
    <!-- main section End -->
        <div class="inspection">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="line"></div>
                        <h1><span>EQUIPO PARA </span><span style="color: #a5cd39;">INSPECCIÓN RX</span></h1>
                        <p>Tenemos el equipo ideal para su necesidad, en alianza con nuestro proveedor Envirosight.</p>
                        <a href="#see_more" class="btn-quienes">VER MÁS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-line">
            <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
        </div>
    <!-- main section End -->
    <!-- inspection sec Start -->
    <div class="inspection-sec" id="see_more" style="background-image: url('static/img/fondo-infra-bo.png')">
        <div class="row" id="info_text_new">
            <!-- <div class="col-md-5">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/trakamama.png') }}" alt="">
                </div>
            </div> -->
            <div class="col-md-7" id="info_text2">
                <h2>CCTV: Rovver X & Supervision</h2>
                <li>Tecnología para inspección de tuberías por circuito cerrado de televisión –CCTV- en rangos desde 4¨ hasta 72¨ de diámetro.</li>
                <li>Cuenta con un Equipo robotizado autopropulsado y cámaras de máxima resolución para la observación de daños, defectos o accidentes  presentes dentro de las tuberías de acueducto y alcantarillado.</li>
                <li>La cámara cuenta con una rotación de 360 grados, barrido de 270 grados y la ayuda de un zoom 120:1.</li>
                <li>Especial para identificar problemas de operación, mantenimiento y estructura de la red.</li>
                <li>Registra y graba el 100% de las secciones de los tubos.</li>
                <li>Cuenta con un Software de Inspección Wincan incorporado al Equipo de inspección para el registro de observaciones, toma de fotografías, valoración de defectos, calificación de tramos y emisión de reportes.</li>
            </div>
        </div>
    </div>
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    <!-- inspection sec section End -->
    
    <!-- nuevo carrusel -->
    <div class="carousel-new">
        <img src="{{ url_for('static', filename='img/rx/rx1.jpg') }}" alt="Imagen 1" class="active">
        <img src="{{ url_for('static', filename='img/rx/rx2.jpg') }}" alt="Imagen 2">
        <img src="{{ url_for('static', filename='img/rx/rx3.jpg') }}" alt="Imagen 3">
        <img src="{{ url_for('static', filename='img/rx/rx4.jpg') }}" alt="Imagen 4">
        <img src="{{ url_for('static', filename='img/rx/rx5.jpg') }}" alt="Imagen 5">
        <img src="{{ url_for('static', filename='img/rx/rx6.jpg') }}" alt="Imagen 6">
        <div class="dots">
            <span class="active" onclick="currentSlide(1)"></span>
            <span onclick="currentSlide(2)"></span>
            <span onclick="currentSlide(3)"></span>
            <span onclick="currentSlide(4)"></span>
            <span onclick="currentSlide(5)"></span>
            <span onclick="currentSlide(6)"></span>
        </div>
    </div>
    <!-- fin de carrusel -->
    
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
