{% extends "base_infra.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <!-- Header section End -->
    <!-- main section End -->
        <div class="inspection">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="line"></div>
                        <h1><span>EQUIPO VERISIGHT</span><span style="color: #a5cd39;"> ULTRA</span></h1>
                        <p>Cámara de inspección lateral de tuberías</p>
                        <a href="#see_more" class="btn-quienes">VER MÁS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-line">
            <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
        </div>
    <!-- main section End -->
    <!-- inspection sec Start -->
    <div class="inspection-sec" id="see_more" style="background-image: url('static/img/fondo-infra-bo.png')">
        <div class="row" id="info_text_new">
            <!-- <div class="col-md-5">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/trakamama.png') }}" alt="">
                </div>
            </div> -->
            <div class="col-md-7" id="info_text2">
                    <h2>Cámaras de Empuje para Inspecciones de Redes Domiciliarias</h2>
                    <p>Nuestras cámaras de empuje son ideales para la inspección de redes domiciliarias con diámetros entre 4" y 12". Diseñadas para un manejo manual y por empuje, estas cámaras pueden navegar fácilmente entre cajas y la red principal o viceversa. Disponibles en dos versiones, con lente fijo o axial y oscilo giratorio, se adaptan a diversas necesidades de inspección. Equipadas con un software avanzado, nuestras cámaras permiten grabar videos, tomar fotografías, almacenar información y generar reportes básicos, facilitando así un análisis detallado y eficiente del estado de sus redes.</p>
            </div>
        </div>
    </div>
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    <!-- inspection sec section End -->
    <!-- image carrusel -->
    
    <section>
        <div class="container">
            <div class="carousel">
                <input type="radio" name="slides" checked="checked" id="slide-1">
                <input type="radio" name="slides" id="slide-2">
                <input type="radio" name="slides" id="slide-3">
                <input type="radio" name="slides" id="slide-4">
                <input type="radio" name="slides" id="slide-5">
                <input type="radio" name="slides" id="slide-6">
                <ul class="carousel__slides">
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="{{ url_for('static', filename='img/vs/vs1.jpg') }}" alt="">
                            </div>
                            <!-- <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Tim Marshall</span>
                            </figcaption> -->
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="{{ url_for('static', filename='img/vs/vs2.jpg') }}" alt="">
                            </div>
                            <!-- <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Christian Joudrey</span>                            
                            </figcaption> -->
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="{{ url_for('static', filename='img/vs/vs3.jpg') }}" alt="">
                            </div>
                            <!-- <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Steve Carter</span>                            
                            </figcaption> -->
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="{{ url_for('static', filename='img/vs/vs4.jpg') }}" alt="">
                            </div>
                            <!-- <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Aleksandra Boguslawska</span>                            
                            </figcaption> -->
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="{{ url_for('static', filename='img/vs/vs5.jpg') }}" alt="">
                            </div>
                            <!-- <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Rosan Harmens</span>                            
                            </figcaption> -->
                        </figure>
                    </li>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="{{ url_for('static', filename='img/vs/vs6.jpg') }}" alt="">
                            </div>
                            <!-- <figcaption>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span class="credit">Photo: Annie Spratt</span>                            
                            </figcaption> -->
                        </figure>
                    </li>
                </ul>    
                <ul class="carousel__thumbnails">
                    <li>
                        <label for="slide-1"><img src="{{ url_for('static', filename='img/vs/vs1.jpg') }}" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-2"><img src="{{ url_for('static', filename='img/vs/vs2.jpg') }}" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-3"><img src="{{ url_for('static', filename='img/vs/vs3.jpg') }}" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-4"><img src="{{ url_for('static', filename='img/vs/vs4.jpg') }}" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-5"><img src="{{ url_for('static', filename='img/vs/vs5.jpg') }}" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-6"><img src="{{ url_for('static', filename='img/vs/vs6.jpg') }}" alt=""></label>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
