<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <!-- Header section start -->
    <header class="header" id="header">
      <nav class="navbar container">
        <section class="navbar__left">
          <a href="{{ url_for('hello') }}" class="brand">
            <img src="{{ url_for('static', filename='img/logo-pacific.png') }}" alt="" />
          </a>
          <div class="burger" id="burger">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
          </div>
        </section>
        <section class="navbar__center">
          <span class="overlay"></span>
          <div class="menu" id="menu">
            <div class="menu__header">
              <span class="menu__arrow"
                ><i class="bx bx-chevron-left"></i
              ></span>
              <span class="menu__title"></span>
            </div>
            <ul class="menu__inner">
              
              <li class="menu__item">
                <a href="{{ url_for('infraestructura') }}" class="menu__link">I N I C I O</a>
              </li>
              <li class="menu__item menu__dropdown">
                <a href="" class="menu__link">
                  S E R V I C I O S
                  <i class="fa fa-chevron-right"></i>
                </a>
                <div class="submenu megamenu__text">
                  <div class="submenu__inner">
                    <h4 class="submenu__title">Servicios y consultoría</h4>
                    <ul class="submenu__list">
                      <li><a href="{{ url_for('servicios_inspeccion') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>Inspección y Diagnostico</a></li>
                      <li><a href="{{ url_for('servicios_mapeo') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>Mapeo Subterráneo</a></li>
                      <li><a href="{{ url_for('servicios_limpieza') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>Limpieza de Redes</a></li>
                      <li><a href="{{ url_for('servicios_fugas') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>Detección de Fugas y Reducción de Pérdidas</a></li>
                      <li><a href="{{ url_for('servicios_rehabilitacion') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>Rehabilitación de Redes</a></li>
                      <li><a href="{{ url_for('servicios_diseno') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>Diseño</a></li>
                      <li><a href="{{ url_for('servicios_equipos') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>Equipos y Tecnología</a></li>
                    </ul>
                  </div>
                  <div class="submenu__inner">
                    <h4 class="submenu__title">Equipos de Limpieza para Tuberías y Colectores</h4>
                    <ul class="submenu__list">
                      <li><a href="{{ url_for('limpieza_s') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>S-Products</a></li>
                      <li><a href="{{ url_for('limpieza_rom') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>ROM</a></li>
                      <li><a href="{{ url_for('limpieza_general') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>General</a></li>
                    </ul>
                  </div>
                  <div class="submenu__inner">
                    <h4 class="submenu__title">Software</h4>
                    <ul class="submenu__list">
                      <li><a href="{{ url_for('wincan') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>Software Wincan</a></li>
                    </ul>
                  </div>
                  <div class="submenu__inner">
                    <h4 class="submenu__title">Equipos de Inspección para Tuberías y Colectores</h4>
                    <ul class="submenu__list">
                      <li><a href="{{ url_for('inspeccion_rx') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>RX</a></li>
                      <li><a href="{{ url_for('inspeccion_qv') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>QV</a></li>
                      <li><a href="{{ url_for('inspeccion_vsultra') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>VS Ultra</a></li>
                      <li><a href="{{ url_for('inspeccion_qv360') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>QV360</a></li>
                    </ul>
                  </div>
                  <div class="submenu__inner">
                    <h4 class="submenu__title">Equipos de Inspección para Acueducto</h4>
                    <ul class="submenu__list">
                      <li><a href="{{ url_for('inspeccion_ditribucion') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>Redes de Distribución</a></li>
                      <li><a href="{{ url_for('inspeccion_principales') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>Redes Principales</a></li>
                    </ul>
                  </div>
                  <div class="submenu__inner">
                    <h4 class="submenu__title">Equipos y Materiales de Rehabilitación</h4>
                    <ul class="submenu__list">
                      <li><a href="{{ url_for('rehabilitacion_equipos') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>Equipos de rehabilitación</a></li>
                      <li><a href="{{ url_for('rehabilitacion_materiales') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>Materiales</a></li>
                    </ul>
                  </div>
                  <div class="submenu__inner">
                    <h4 class="submenu__title">Soporte Técnico</h4>
                    <ul class="submenu__list">
                      <li><a href="{{ url_for('soporte_limpieza') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>Equipos de limpieza</a></li>
                      <li><a href="{{ url_for('soporte_robotizados') }}"><span class="icon"><img src="{{ url_for('static', filename='img/icono_submenu.png') }}" alt="Icon"></span>Equipos robotizados</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="menu__item">
                <a href="{{ url_for('contacto') }}" class="menu__link">C O N T A C T O</a>
              </li>
              <li class="menu__item">
                <a href="{{ url_for('nosotros') }}" class="menu__link">N O S O T R O S</a>
              </li>
            </ul>
          </div>
        </section>
        <!-- <section class="navbar__right">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar.." />
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </section> -->
      </nav>
    </header>

    {% block content %}{% endblock %}

    <!-- Footer section start -->
    <div class="footer">
        <div class="row">
          <div class="col-md-4">
            <h3>PRIVACIDAD</h3>
          </div>
          <div class="col-md-4">
            <h3>CONTACTO</h3>
            <a href="mailto:cipacific@cipacifictradinggroup.com"
              >cipacific@cipacifictradinggroup.com</a
            >
            <p><b>CALI</b></p>
            <p>PBX: (57 2) 654 1848</p>
            <p>Comercial: Cel: 310 896 3904 / 311 744 7003</p>
            <p>Administracion: Cel: 310 458 0011</p>
            <p>Direccion: Calle: 15 #31-99</p>
          </div>
          <div class="col-md-4">
            <h4>BOGOTA</h4>
            <p>Cel: 310 3890964</p>
            <p>Autopista Cali- Yumbo -Colombia<br />Bogota</p>
            <p>Cra. 25 No. 70-53</p>
          </div>
        </div>
      </div>
      
      
      {% block scripts %}{% endblock %}
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        $(window).on("load resize scroll", function() {
            if ($(window).width() > 768) {
                $(".inspection-sec").each(function() {
                var windowTop = $(window).scrollTop();
                var elementTop = $(this).offset().top;
                var elementHeight = $(this).outerHeight();
                var windowHeight = $(window).height();

                // Calcular la posición relativa del elemento en la ventana
                if (windowTop + windowHeight > elementTop && windowTop < elementTop + elementHeight) {
                    var scrollProgress = (windowTop + windowHeight - elementTop) / (elementHeight + windowHeight);

                    // Ajustar el rango de movimiento de la imagen
                    var leftPosition = (scrollProgress * 90); // Desde -35% hasta 35%

                    // Limitar la posición de la imagen
                    if (leftPosition > 40) {
                    leftPosition = 40;
                    } else if (leftPosition < -35) {
                    leftPosition = -35;
                    }

                    $(this).find(".img-container").css({ left: leftPosition + '%' });
                } else {
                    $(this).find(".img-container").css({ left: 0 });
                }
                });
            } else {
                // En pantallas móviles, resetea la posición de la imagen
                $(".img-container").css({ left: '0' });
            }
            });

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const radioButtons = document.querySelectorAll('.carousel input[type="radio"]');
            const labels = document.querySelectorAll('.carousel__thumbnails label');

            labels.forEach(label => {
                label.addEventListener('click', function(event) {
                    event.preventDefault(); // Evitar el comportamiento predeterminado
                    const radio = document.getElementById(this.getAttribute('for'));
                    radio.checked = true; // Cambiar el estado del radio button
                });
            });
        });
    </script>
  </body>
</html>