{% extends "base_infra.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <!-- Header section End -->
    <!-- main section End -->
        <div class="inspection" style="background-image: url('static/img/general-rehabequipos.png')">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="line"></div>
                        <h1><span>EQUIPOS </span><span style="color: #a5cd39;">CORTADORES</span></h1>
                        <p>Corte preciso y robusto con tecnología avanzada</p>
                        <a href="#see_more" class="btn-quienes">VER MÁS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-line">
            <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
        </div>
    <!-- main section End -->
    <!-- inspection sec Start -->
    <div class="inspection-sec" id="see_more" style="background-image: url('static/img/fondo-infra-bo.png')">
        <div class="row">
            <!-- <div class="col-md-5">
                <div class="img-container" id="rehab" >
                    <img src="{{ url_for('static', filename='img/rehab-bg1.png') }}" alt="">
                </div>
            </div> -->
            <div class="col-md-7" id="info_text2">
                    <h2>Cortadores Especiales para Rehabilitación</h2>
                    <p>Proveemos Equipos robotizados supremamente robustos y confiables, cuya finalidad de reabrir las acometidas domiciliarias hacia la red principal que ha sido debidamente rehabilitada.</p>
                    <li>Diámetros desde 3”-28”</li>
                    <li>Cuentan con cámaras de alta resolución a bordo así mismo como con brazos articulables para garantizar exactitud, precisión y máximo en el corte</li>
                    <li>Autonomía de 40 -150 Metros dependiendo del equipo y diámetro trabajado</li>
            </div>
        </div>
    </div>
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    <!-- inspection sec section End -->
    
    <!-- nuevo carrusel -->
    <div class="carousel-new">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza1.jpg') }}" alt="Imagen 1" class="active">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza2.jpg') }}" alt="Imagen 2">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza3.jpg') }}" alt="Imagen 3">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza4.jpg') }}" alt="Imagen 4">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza5.jpg') }}" alt="Imagen 5">
        <img src="{{ url_for('static', filename='img/limpieza/limpieza6.jpg') }}" alt="Imagen 6">
        <div class="dots">
            <span class="active" onclick="currentSlide(1)"></span>
            <span onclick="currentSlide(2)"></span>
            <span onclick="currentSlide(3)"></span>
            <span onclick="currentSlide(4)"></span>
            <span onclick="currentSlide(5)"></span>
            <span onclick="currentSlide(6)"></span>
        </div>
    </div>
    <!-- fin de carrusel -->
    <div class="border-line">
        <img src="{{ url_for('static', filename='img/border.png') }}" alt="" class="w-100">
    </div>
    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const radioButtons = document.querySelectorAll('.carousel input[type="radio"]');
            const labels = document.querySelectorAll('.carousel__thumbnails label');

            labels.forEach(label => {
                label.addEventListener('click', function(event) {
                    event.preventDefault(); // Evitar el comportamiento predeterminado
                    const radio = document.getElementById(this.getAttribute('for'));
                    radio.checked = true; // Cambiar el estado del radio button
                });
            });
        });
    </script>
    <!-- <script>
        $(window).on("load resize scroll", function() {
            if ($(window).width() > 768) {
                $("#inspection-sec").each(function() {
                var windowTop = $(window).scrollTop();
                var elementTop = $(this).offset().top;
                var elementHeight = $(this).outerHeight();
                var windowHeight = $(window).height();

                // Calcular la posición relativa del elemento en la ventana
                if (windowTop + windowHeight > elementTop && windowTop < elementTop + elementHeight) {
                    var scrollProgress = (windowTop + windowHeight - elementTop) / (elementHeight + windowHeight);

                    // Ajustar el rango de movimiento de la imagen
                    var leftPosition = (scrollProgress * 90); // Desde -35% hasta 35%

                    // Limitar la posición de la imagen
                    if (leftPosition > 23) {
                    leftPosition = 23;
                    } else if (leftPosition < -35) {
                    leftPosition = -35;
                    }

                    $(this).find(".img-container").css({ left: leftPosition + '%' });
                } else {
                    $(this).find(".img-container").css({ left: 0 });
                }
                });
            } else {
                // En pantallas móviles, resetea la posición de la imagen
                $(".img-container").css({ left: '0' });
            }
            });

    </script> -->
{% endblock %}
